$color-text-primary: #70e000;
$color-text-secondary: #FFFFFF;
$color-text-tertiary: #38b000;
$color-background-primary: #023047;
$color-background-secondary: #38b000;
$color-background-terciary: #2A223A;
$box-shadow-primary: 2px 2px 30px rgba(0, 0, 0, 0.1);
$box-shadow-secondary: 0px 15px 25px rgba(0, 0, 0, 0.50);
$font-family: "Montserrat" , serif;
$color-gradient-primary: linear-gradient(to right, #88e5ff, #006c8a);
$color-gradient-secondary: linear-gradient(to right, #00c9ff, #92fe2D);
$color-review: #f9d71c;
$color-user-primary: #3d3d3d;
$color-user-secondary: #979797;